<div id="main_index">
  <h1>Obsidian Portal Tag Renamer</h1>
  <p>
    This is a very simple tool to allow you to rename or change your Obsidian Portal tags in bulk.
  </p>
  
  <h2>Let's Get Started</h2>
  <%= link_to 'Authorize Access', @authorize_url %>
</div> <!-- main_index -->