<div id="main_index">
  <%= image_tag 'logo-with-text-white.png', :class => 'header-logo' %>
  <h1>Dragon Tagger - The Obsidian Portal Bulk Tag Renamer</h1>
  <p>
    This is a very simple tool to allow you to rename or change your Obsidian Portal tags in bulk. For now, it only works on wiki page, adventure log posts, and characters. As soon as the API supports items, this app will be updated.
  </p>
  
  <h2>Warnings and Disclaimers</h2>
  <p>
    Please realize that you are using this app at your own risk, and it may irrecoverably alter or delete your <strong>live Obsidian Portal data</strong>. This app is a toy, but the data is not! We did our best to make sure it works, but no guarantees!
  </p>
  
  <h2><%= link_to "Let's Rename Some Tags!", @authorize_url %></h2>
  
  <p>
    If you want to see how this app was made, the source is <a href="https://github.com/micahwedemeyer/obsidianportal_tag_renamer">available on github</a>.
  </p>
</div> <!-- main_index -->